
<style type="text/css">

  .aboutwistech {
  } 

  .divederlined {
    height: 1.5px;
    background-color: #282896; 
  }

  .divederlineder {
    height: 1.5px;
    background-color: #ffffff; 
  }

  .aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)),url(https://res.cloudinary.com/nikasemo/image/upload/v1563463726/5d308fecc2d32_w4b1ms.png);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 60px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Rubik', sans-serif; 
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 55px;
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 0px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Rubik', sans-serif; 
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 10px;
}


}

</style>

<section class="aduins">
      <div class="container">
        <div class="row" style="margin-top: 70px">
          <div class="col-lg-12">
            <h1 style="font-family: 'Exo 2', sans-serif;" class="aduinsh1">
              About us
            </h1>
           <!--  <p style="" class="aduinsp1">
              To be the best in business education and business research in Africa
            </p> -->
          </div>
        </div>
      </div>
    </section>

<section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
             <h2 style="font-family: 'Exo 2', sans-serif; text-align: left; color: #282896; font-size: 25px;" class="js-reveal">
         Welcome to Hydro 4 Life</h2>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;" class="js-reveal">
          HYDRO4LIFE is a non-profit charity organization with the sole objective of stimulating community development to ultimately bring about social change through our flagship activity of constructing boreholes and providing education on water sanitation.<br>
       Using community participatory approach, we engage members of an identified community to ascertain if they have a need for clean and safe water. This engagement is to solicit the inputs of traditional leaders and members of the community to make them feel included in the process, own the project and ultimately be able to maintain the project after completion.<br>
       To ensure effective maintenance of projects, we appoint a correspondent who is a resident of the beneficiary community to give us periodical update on the state of the borehole and other water sanitation-related matters.
           </p>
           <br>
           <h2 style="font-family: 'Exo 2', sans-serif; text-align: left; color: #282896; font-size: 25px;" class="js-reveal">
         What we stand for</h2>
         <hr align="left" width="10%" class="divederlined">
         <p style="font-weight: 300;">
           <span style="color: #282896; font-weight: 600;">Vision</span><br>
           To provide clean and safe water to as many water-deprived African communities as possible.
         </p>
         <p>
           <span style="color: #282896; font-weight: 600;">Mission</span><br>
         </p>
         <ul style="font-weight: 300;">
           <li>To drill mechanized boreholes for clean and safe water to deprived African communities.</li>
           <li>To provide education on water hygiene, treatment and conservation.</li>
           <li>To empower and assist deprived communities to execute self-funded water projects.</li>
         </ul>
         <p>
           <span style="color: #282896; font-weight: 600;">Core values</span><br>
         </p>
         <ul style="font-weight: 300;">
           <li>An environment to educate tomorrow’s leaders.</li>
           <li>Service to humanity.</li>
           <li>Making others smile.</li>
         </ul>
          </div>
          <div class="col-lg-3 col-sm-12">
            <img src="https://res.cloudinary.com/nikasemo/image/upload/v1563477086/h4llogoweb2_zxuedz.png" width="200px" height="200px" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
