<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style type="text/css">
	.holdprojimage{

	}



	.holdprojtext{
		padding: 30px;
	}

	.divederlined {
	  height: 1.5px;
	  background-color: #282896; 
	}

	.divederlineder {
	  height: 1.5px;
	  background-color: #ffffff; 
	}

	.donate {
		background-color: #282896;
		border: 1px solid #282896;
		border-radius: 0px;
		color: white;
	}

	.donate:hover {
		background-color: #282896;
		border: 1px solid #282896;
		border-radius: 0px;
		color: white;
		 -webkit-box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.22);
	  -moz-box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.22);
	  box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.22);
	}

	.donate:active {
		background-color: #282896;
		border: 1px solid #282896;
		border-radius: 0px;
		color: white;
		 -webkit-box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.12);
	  -moz-box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.12);
	  box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.12);
	}

</style>

<section class="holdprojbody">

<div class="container">
	<div class="row no-gutters" style="margin-top: 110px; margin-bottom: 0px;">

		<div class="col-lg-6">
			<div class="holdprojtext">
				<br>
				<h2 style="font-family: 'Exo 2', sans-serif; text-align: left; color: #282896; font-size: 25px;">Completed Projects</h2>
				 <hr align="left" width="10%" class="divederlined">
				 <p style="font-weight: 600;">Mechanized borehole in Kachawula, Yeji. (Ghana, West Africa).</p>
				 <p style="font-size: 16px; font-weight: 300;">
				 	<span><i class="fa fa-globe" style="margin-right: 9px; color: #282896;" aria-hidden="true"></i>
				 	Brong-Ahafo Region, Ghana</span><br>
				 	<span><i class="fa fa-users" style="margin-right: 9px; color: #282896;" aria-hidden="true"></i>
				 		2000 people
				 	</span>
				 	<br><br>
				 	In September 2018, HYDRO4LIFE constructed a mechanized borehole for the people of Kachawula, a village in the Brong Ahafo Region (now Bono East Region) in Ghana, West Africa. This community has about 2,000 people and they relied on a river as their source of water for domestic purposes. Animals also drunk from this same water source.<br><br>
					In September 2018, the crew from hydro4life arrived in Kachawula and constructed a mechanized borehole following an initial engagement with the leadership and members of the community.<br><br>
					After successful drilling of the borehole and installation of water tanks and pipes, water started flowing and the people of Kachawula couldn’t hide their joy. The smiles on the faces of these men, women and especially children was what made us feel fulfilled and gave us the inspiration to consider doing more projects. This was our first success story and to us it’s the success of humanity because it put smiles on the faces of the people of Kachawula.
				 </p>
				 
			</div>
		</div>

		<div class="col-lg-6">
			<div class="holdprojimage2" style="margin-top: 40px;">
				<video width="100%" controls>
				  <source src="https://res.cloudinary.com/nikasemo/video/upload/v1563470657/WhatsApp_Video_2019-07-10_at_12.26.13_PM_n2zpud.mp4" type="video/mp4">
				  Your browser does not support HTML5 video.
				</video>

				<div class="row">
					<!-- Sub images -->
		          <div class="col-lg-12">
		            <div class="row no-gutters" style="margin-top: 10px; margin-bottom: 0px;">
		               <a href="hl/hl1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-3" style="margin-bottom: 0px;">
		                <img src="hl/hl1thumb.jpg" class="img-fluid">
		                </a> 

		                <a href="hl/hl2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-3" style="margin-bottom: 0px;">
		                <img src="hl/hl2thumb.jpg" class="img-fluid">
		                </a> 

		                <a href="hl/hl3.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-3" style="margin-bottom: 0px;">
		                <img src="hl/hl3thumb.jpg" class="img-fluid">
		                </a> 

		                <a href="hl/hl4.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-3" style="margin-bottom: 0px;">
		                <img src="hl/hl4thumb.jpg" class="img-fluid">
		                </a> 

		            </div>

		            <div class="row no-gutters" style="margin-top: 10px; margin-bottom: 0px;">
		               <a href="hl/hl5.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-3" style="margin-bottom: 0px;">
		                <img src="hl/hl5thumb.jpg" class="img-fluid">
		                </a> 

		                <a href="hl/hl6.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-3" style="margin-bottom: 0px;">
		                <img src="hl/hl6thumb.jpg" class="img-fluid">
		                </a> 

		                <a href="hl/hl7.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-3" style="margin-bottom: 0px;">
		                <img src="hl/hl7thumb.jpg" class="img-fluid">
		                </a> 

		                <a href="hl/hl8.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-3" style="margin-bottom: 0px;">
		                <img src="hl/hl8thumb.jpg" class="img-fluid">
		                </a> 

		            </div>

		            <div class="row no-gutters" style="margin-top: 10px; margin-bottom: 0px;">
		               <a href="hl/hl9.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-3" style="margin-bottom: 0px;">
		                <img src="hl/hl9thumb.jpg" class="img-fluid">
		                </a> 

		                <a href="hl/hl10.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-3" style="margin-bottom: 0px;">
		                <img src="hl/hl10thumb.jpg" class="img-fluid">
		                </a> 

		                <a href="hl/hl11.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-3" style="margin-bottom: 0px;">
		                <img src="hl/hl11thumb.jpg" class="img-fluid">
		                </a> 

		                <a href="hl/hl12.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-3" style="margin-bottom: 0px;">
		                <img src="hl/hl12thumb.jpg" class="img-fluid">
		                </a> 

		            </div>

		             <div class="row no-gutters" style="margin-top: 10px; margin-bottom: 20px;">
		               <a href="hl/hl13.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-3" style="margin-bottom: 0px;">
		                <img src="hl/hl13thumb.jpg" class="img-fluid">
		                </a> 

		                <a href="hl/hl14.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-3" style="margin-bottom: 0px;">
		                <img src="hl/hl14thumb.jpg" class="img-fluid">
		                </a> 

		                <a href="hl/hl15.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-3" style="margin-bottom: 0px;">
		                <img src="hl/hl15thumb.jpg" class="img-fluid">
		                </a> 

		                <a href="hl/hl16.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-3" style="margin-bottom: 0px;">
		                <img src="hl/hl16thumb.jpg" class="img-fluid">
		                </a> 

		            </div>

		          </div>
				</div>

				<p style="margin-top: 20px;">
					<a class="btn btn-success donate btn-lg" href="https://rave.flutterwave.com/donate/lnzildnxte7v" target="_blank">Donate to Hydo4Life</a>
				</p>
			</div>
			</div>

	</div>


	<div class="row no-gutters" style="margin-top: 0px; margin-bottom: 0px;">

		<div class="col-lg-6">
			<div class="holdprojtext">
				<br>
				<h2 style="font-family: 'Exo 2', sans-serif; text-align: left; color: #282896; font-size: 25px;">Completed Projects</h2>
				 <hr align="left" width="10%" class="divederlined">
				 <p style="font-weight: 600;">Community sensitization on water treatment and sanitation in Gomoa Osedze. (Ghana, West Africa.)</p>
				 <p style="font-size: 16px; font-weight: 300;">
				 	<span><i class="fa fa-globe" style="margin-right: 9px; color: #282896;" aria-hidden="true"></i>
				 	Central Region, Ghana</span><br>
				 	<span><i class="fa fa-users" style="margin-right: 9px; color: #282896;" aria-hidden="true"></i>
				 		5000 people
				 	</span>
				 	<br><br>
				 	In April 2019, HYDRO4LIFE embarked on a sensitization exercise on water treatment and sanitation-related issues. We taught the people of Gomoa Osedze traditional water treatment methods and how to prevent water contamination.<br><br> 
                    This exercise was necessitated by the absence of clean and safe drinking water in the community. We derive joy in the knowledge that the people are now aware of simple ways to treat water before drinking and how to prevent water contamination and by extension water-borne diseases.
				 </p>
				 <br>
				 
			</div>
		</div>

		<div class="col-lg-6">
			<div class="holdprojimage2" style="margin-top: 40px;">
				<div class="w3-content w3-display-container">
				  <img class="mySlides" src="https://res.cloudinary.com/nikasemo/image/upload/v1563472468/cp1_agdzbv.jpg" style="width:100%">
				  <img class="mySlides" src="https://res.cloudinary.com/nikasemo/image/upload/v1563472468/cp2_jllpla.jpg" style="width:100%">
				  <img class="mySlides" src="https://res.cloudinary.com/nikasemo/image/upload/v1563472468/cp3_ajqtuw.jpg" style="width:100%">

				  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
				  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
				</div>

				<p style="margin-top: 20px;">
					<a class="btn btn-success donate btn-lg" href="https://rave.flutterwave.com/donate/lnzildnxte7v" target="_blank">Donate to Hydo4Life</a>
				</p>
			</div>
			</div>

	</div>


</div>

</section>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>