 <style>

.homeslider {
  margin-top: 80px;
}

.carousel {
position: relative;
top: 15px;
}



    .carousel-item{
      min-height:600px;
      background:no-repeat center center scroll;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}

    .carousel-inner {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 150px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
  color: #fff;
  text-align: center;
}

.capttxt {
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  font-family: 'Exo 2', sans-serif;
  text-align: right;
}

.divederlined {
  height: 1.5px;
  background-color: #010b48; 
}

.divederlineder {
  height: 1.5px;
  background-color: #ffffff; 
}

.ctabutton {
  background-color: #7fd71e;
  border: 2px solid #f2d308;
  border-radius: 2px;
}

.ctabutton:hover {
  background-color: #7fd71e;
}

.ctabutton:active {
  background-color: #7fd71e;
}

.worksdivider {
  background-color: white;
  height: 1.5px;
}



</style>

 <section class="homeslider">
   <header>

 
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">

          
          <!-- Slide Two - Set the background image for this slide in the line below -->
           <div class="carousel-item active" style="background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://res.cloudinary.com/nikasemo/image/upload/v1563160369/h4lslide4_fy2xyx.jpg'); background-position:center;">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt" style="">Lorem ipsum nostrud amet dolore.</h3>
              <p style="font-family: 'Exo 2', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65); text-align: right; font-weight: 300;">Consequat irure laboris dolor adipisicing mollit eu amet amet duis est veniam aliqua irure irure laboris dolor adipisicing.</p>
              <p style="text-align: right;"><a href="" class="btn btn-primary btn-lg btnhomeslider">Learn More</a></p>
            </div>
          </div>

          <!-- Slide Three - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://res.cloudinary.com/nikasemo/image/upload/v1563160370/h4lslide1_qdnvlr.jpg'); background-position:center;)">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt" style="">Lorem ipsum nostrud amet dolore.</h3>
              <p style="font-family: 'Exo 2', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65);text-align: right; font-weight: 300;">Consequat irure laboris dolor adipisicing mollit eu amet amet duis est veniam aliqua irure irure laboris dolor adipisicing.</p>
              <p style="text-align: right;"><a href="" class="btn btn-primary btn-lg btnhomeslider">Learn More</a></p>
            </div>
          </div>

          <!-- Slide Three - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://res.cloudinary.com/nikasemo/image/upload/v1563160369/h4lslide3_rodj96.jpg'); background-position:center;)">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt" style="">Lorem ipsum nostrud amet dolore.</h3>
              <p style="font-family: 'Exo 2', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65);text-align: right; font-weight: 300;">Consequat irure laboris dolor adipisicing mollit eu amet amet duis est veniam aliqua irure irure laboris dolor adipisicing.</p>
              <p style="text-align: right;"><a href="" class="btn btn-primary btn-lg btnhomeslider">Learn More</a></p>
            </div>
          </div>

          <!-- Slide Three - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://res.cloudinary.com/nikasemo/image/upload/v1563160369/h4lslide2_lee1px.jpg'); background-position:center;")">
            <div class="carousel-caption d-md-block">
              <h3 class="capttxt" style="">Lorem ipsum nostrud amet dolore.</h3>
              <p style="font-family: 'Exo 2', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65);text-align: right; font-weight: 300;">Consequat irure laboris dolor adipisicing mollit eu amet amet duis est veniam aliqua irure irure laboris dolor adipisicing.</p>
              <p style="text-align: right;"><a href="" class="btn btn-primary btn-lg btnhomeslider">Learn More</a></p>
            </div>
          </div>
         
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>
 </section>

 <section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
            
         <h1 style="font-family: 'Exo 2', sans-serif; text-align: left; color: #010b48; font-size: 25px;" class="js-reveal">Welcome to Hydro4life</h1>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;" class="js-reveal">
           HYDRO4LIFE is a non-profit charity organization with the sole objective of stimulating community development to ultimately bring about social change through our flagship activity of constructing boreholes and providing education on water sanitation.
		   Using community participatory approach, we engage members of an identified community to ascertain if they have a need for clean and safe water. This engagement is to solicit the inputs of traditional leaders and members of the community to make them feel included in the process, own the project and ultimately be able to maintain the project after completion.
		   To ensure effective maintenance of projects, we appoint a correspondent who is a resident of the beneficiary community to give us periodical update on the state of the borehole and other water sanitation-related matters.
		  </p>
          </div>
          <div class="col-lg-3 col-sm-12">
            <img src="https://res.cloudinary.com/nikasemo/image/upload/v1563160900/h4llogoweb_hgwpw1.jpg" width="200px" height="200px" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

